@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500&display=swap");
html {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.7;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #646464;
  background-color: #fff;
}
p {
  margin: 0 0 20px 0;
  color: #646464;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 0 0 20px 0;
  color: #111;
}
h1,
h2 {
  line-height: 1.2;
}
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}
h1 {
  font-size: 36px;
}
@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  font-size: 28px;
}
@media only screen and (max-width: 1199px) {
  h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 991px) {
  h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}
h3 {
  font-size: 22px;
}
@media only screen and (max-width: 991px) {
  h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}
h4 {
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 16px;
  }
}
h5 {
  font-size: 18px;
}
@media only screen and (max-width: 991px) {
  h5 {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  outline: 0 none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.fxt-content-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .fxt-none-767 {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-none-991 {
    display: none !important;
  }
}

.fxt-template-animation {
  position: relative;
  z-index: 1;
  width: 100%;
  opacity: 1;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
.fxt-template-animation .fxt-transformY-50 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.loaded.fxt-template-animation {
  opacity: 1;
}
.loaded.fxt-template-animation .fxt-transformY-50 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}
.loaded.fxt-template-animation .fxt-transition-delay-1 {
  transition-delay: 0.1s;
}
.loaded.fxt-template-animation .fxt-transition-delay-2 {
  transition-delay: 0.2s;
}
.loaded.fxt-template-animation .fxt-transition-delay-3 {
  transition-delay: 0.3s;
}
.loaded.fxt-template-animation .fxt-transition-delay-4 {
  transition-delay: 0.4s;
}
.loaded.fxt-template-animation .fxt-transition-delay-5 {
  transition-delay: 0.5s;
}
.loaded.fxt-template-animation .fxt-transition-delay-6 {
  transition-delay: 0.6s;
}
.loaded.fxt-template-animation .fxt-transition-delay-7 {
  transition-delay: 0.7s;
}
.loaded.fxt-template-animation .fxt-transition-delay-8 {
  transition-delay: 0.8s;
}
.loaded.fxt-template-animation .fxt-transition-delay-9 {
  transition-delay: 0.9s;
}
.loaded.fxt-template-animation .fxt-transition-delay-10 {
  transition-delay: 1s;
}
.loaded.fxt-template-animation .fxt-transition-delay-11 {
  transition-delay: 1.1s;
}
.loaded.fxt-template-animation .fxt-transition-delay-12 {
  transition-delay: 1.2s;
}
.loaded.fxt-template-animation .fxt-transition-delay-13 {
  transition-delay: 1.3s;
}
.loaded.fxt-template-animation .fxt-transition-delay-14 {
  transition-delay: 1.4s;
}
.loaded.fxt-template-animation .fxt-transition-delay-15 {
  transition-delay: 1.5s;
}
.loaded.fxt-template-animation .fxt-transition-delay-16 {
  transition-delay: 1.6s;
}
.loaded.fxt-template-animation .fxt-transition-delay-17 {
  transition-delay: 1.7s;
}
.loaded.fxt-template-animation .fxt-transition-delay-18 {
  transition-delay: 1.8s;
}
.loaded.fxt-template-animation .fxt-transition-delay-19 {
  transition-delay: 1.9s;
}
.loaded.fxt-template-animation .fxt-transition-delay-20 {
  transition-delay: 2s;
}

.fxt-template-layout4 {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.fxt-template-layout4:before {
  position: absolute;
  z-index: 0;
  background-color: #00539e;
  content: "";
  min-height: 100%;
  width: 35vw;
  top: 0;
  left: 0;
}
.fxt-template-layout4 .fxt-bg-wrap {
  padding: 8vh 0 8vh 16vw;
  min-height: 100vh;
}
@media only screen and (max-width: 1199px) {
  .fxt-template-layout4 .fxt-bg-wrap {
    padding: 8vh 0 8vh 10vw;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout4 .fxt-bg-wrap {
    padding: 6vh 0 6vh 6vw;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout4 .fxt-bg-wrap {
    padding: 5vh 4vw;
    min-height: 70vh;
  }
}
.fxt-template-layout4 .fxt-checkbox-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.fxt-template-layout4 .fxt-bg-color {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 45px;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout4 .fxt-bg-color {
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout4 .fxt-bg-color {
    min-height: 100%;
    padding: 20px 30px;
    justify-content: center;
  }
}
.fxt-template-layout4 .fxt-bg-img {
  padding: 40px 50px;
  min-height: 95%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout4 .fxt-bg-img {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout4 .fxt-bg-img {
    padding: 30px;
  }
}
.fxt-template-layout4 .fxt-bg-img:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(2, 2, 3, 0.6);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
}
.fxt-template-layout4 .fxt-bg-img:after {
  content: "";
  right: 0;
  top: 20%;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid #fff;
  border-bottom: 15px solid transparent;
}
.fxt-template-layout4 .fxt-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
}
.fxt-template-layout4 .fxt-header .fxt-logo {
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
}
.fxt-template-layout4 .fxt-header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout4 .fxt-header h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout4 .fxt-header h1 {
    font-size: 28px;
  }
}
.fxt-template-layout4 .fxt-header p {
  color: #fff;
}
.fxt-template-layout4 .fxt-content {
  padding: 30px;
  max-width: 460px;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .fxt-template-layout4 .fxt-content {
    padding: 0;
  }
}
.fxt-template-layout4 .fxt-form {
  margin-top: 30px;
}
.fxt-template-layout4 .fxt-form h2 {
  font-weight: 700;
  margin-bottom: 5px;
}
.fxt-template-layout4 .fxt-form p {
  margin-bottom: 30px;
  font-size: 17px;
}
.fxt-template-layout4 .fxt-form .form-group {
  position: relative;
  z-index: 1;
}
.fxt-template-layout4 .fxt-form .form-group .field-icon {
  position: absolute;
  z-index: 1;
  right: 24px;
  bottom: 18px;
  padding: 0 5px;
  color: #c5c5c5;
  font-size: 14px;
}
.fxt-template-layout4 .fxt-form .form-group .field-icon:before {
  padding: 17px 10px;
}
.fxt-template-layout4 .fxt-form .form-control {
  min-height: 40px;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 30px 10px 0;
  color: #111;
}
.fxt-template-layout4 .fxt-form input::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout4 .fxt-form input::-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout4 .fxt-form input:-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout4 .fxt-form input:-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout4 .fxt-btn-fill {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #00539e;
  padding: 10px 36px;
  margin-bottom: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout4 .fxt-btn-fill:hover {
  background-color: #00539e;
  border-color: #00539e;
  opacity: 0.9;
}
.fxt-template-layout4 .fxt-btn-fill:focus {
  outline: none;
}
.fxt-template-layout4 .fxt-footer {
  text-align: center;
}

.our-products {
  padding: 2rem;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .our-products {
    padding: 1rem;
  }
}
.our-products .info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}
.our-products .info .details {
  width: 80%;
}
.our-products .info .details h2 {
  font-size: 50px;
  margin-bottom: 1rem;
}
.our-products .info .details p {
  line-height: 1.4;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .our-products .info {
    grid-template-columns: 1fr;
  }
  .our-products .info .details {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.our-products .info .first,
.our-products .product {
  position: relative;
}
.our-products .info .first:before,
.our-products .product::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(51, 51, 51, 0.3) 100%
  );
}
.our-products .info .first img,
.our-products .product img {
  display: block;
  max-width: 100%;
}
.our-products .info .first .more p,
.our-products .info .first .more span,
.our-products .products .product .more p,
.our-products .products .product .more span {
  position: absolute;
  bottom: 0;
}
.our-products .info .first .more p,
.our-products .products .product .more p {
  left: 20px;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .our-products .info .first .more p,
  .our-products .products .product .more p {
    font-size: 16px;
  }
}
.our-products .info .first .more span,
.our-products .products .product .more span {
  right: 20px;
  bottom: 16px;
  background-color: #00539e;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 30px;
}
@media screen and (max-width: 767px) {
  .our-products .info .first .more span,
  .our-products .products .product .more span {
    font-size: 14px;
    padding: 5px 20px;
  }
}
.our-products .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .our-products .products {
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
  }
}
.our-products .products .product {
  height: 350px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .our-products .products .product {
    height: 100%;
  }
}
.our-products .products .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .our-products img {
    display: block;
    max-width: 100%;
  }
}

footer {
  padding: 10px 0;
  background: #fff;
}
.divide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .divide {
    flex-direction: column;
  }
}
footer .logo {
  width: 160px;
  height: auto;
  margin: auto 0;
}
footer .logo img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  footer .logo img {
    margin-bottom: 0.7rem;
  }
}
footer .rights p {
  font-size: 14px;
  font-weight: 200;
  color: #333;
  margin-bottom: 0;
}
